.v-data-table .v-data-table__wrapper table th{
	font-size: 120% !important;
	border-bottom: 2px solid darkgrey !important;
 
}
.v-data-table .v-data-table__wrapper table td{
	border-bottom: thin solid rgba(0, 0, 0, 0.12) !important
}
 .hover:hover {
	background: darkgrey;
  }